.hr_4 {
    width: 100%;
    height: 40px;
}
.hr_8 {
    width: 100%;
    height: 100px;
}
.hr_10 {
    width: 100%;
    height: 100px;
}
.clear_my{
    clear: both;
    width: 100%;
    height: 10px;
}
.hide{
    display: none;
}
.student_paper{
    width: 1200px;
    min-height: 1400px;
    background-color: #FFF;
    margin: 0 auto;
}
.student_paper_top{
    width: 875px;
    height: 55px;
    border-bottom: 2px solid #F5F5F5;
    margin: 0 auto;
}
.student_paper_top_title{
    width: 875px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 16px;
    color: rgb(102, 102, 102);
}
.student_paper_top_type{
    width: 200px;
    height: 55px;
    line-height: 70px;
    color: rgb(153, 153, 153);
    font-size: 14px;
    margin-top: -55px;
    float: right;
}
.student_paper_content{
    width: 800px;
    min-height: 800px;
    margin: 0 auto;
}
.student_paper_content_top{
    width: 800px;
    height: 80px;
    margin: 0 auto;
}
/*.student_paper_content_top_left{*/
    /*width: 800px;*/
    /*height: 40px;*/
    /*line-height: 50px;*/
    /*text-align: left;*/
    /*font-size: 16px;*/
    /*color: rgb(51, 51, 51);*/
/*}*/
.student_paper_content_top_right{
    width: 800px;
    height: 80px;
    line-height: 100px;
    text-align: right;
    font-size: 16px;
    color: rgb(102, 102, 102);
}
.student_paper_content_bot{
    width: 800px;
    min-height: 800px;
    margin: 0 auto;
}
/* ===================== 单选题 ========================== */
.student_paper_content_repeat_1,
.student_paper_content_repeat_2{
    width: 800px;
    min-height: 250px;
    border-bottom: 2px dashed #cfcfcf;
}
.student_paper_content_repeat_3{
    width: 800px;
    min-height: 110px;
    border-bottom: 2px dashed #cfcfcf;
}
.student_paper_content_repeat_5{
    width: 800px;
    min-height: 180px;
    border-bottom: 2px dashed #cfcfcf;
}
.student_paper_content_repeat_4{
    width: 800px;
    min-height: 180px;
    border-bottom: 2px dashed #cfcfcf;
}
.student_paper_content_repeat_top{
    width: 800px;
    min-height: 30px;
    margin-top: 10px;
}
.student_paper_content_repeat_top_question{
    width: 800px;
    min-height: 30px;
    line-height: 30px;
    text-align: left;
}
.student_paper_content_repeat_top_question div{
    float: left;
}
.student_paper_content_repeat_1 .student_paper_content_repeat_top_question .two{
    width: 32px;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    text-align: center;
    background-color: #209EEB;
    display: block;
    font-size: 14px;
    color: #FFF;
    margin-left: 10px;
}
.student_paper_content_repeat_2 .student_paper_content_repeat_top_question .two{
    width: 32px;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    text-align: center;
    background-color: #FECE7F;
    display: block;
    font-size: 14px;
    color: #FFF;
    margin-left: 10px;
}
.student_paper_content_repeat_3 .student_paper_content_repeat_top_question .two{
    width: 32px;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    text-align: center;
    background-color: #FE97A3;
    display: block;
    font-size: 14px;
    color: #FFF;
    margin-left: 10px;
}
.student_paper_content_repeat_4 .student_paper_content_repeat_top_question .two{
    width: 32px;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    text-align: center;
    background-color: #84CCCA;
    display: block;
    font-size: 14px;
    color: #FFF;
    margin-left: 10px;
}
.student_paper_content_repeat_5 .student_paper_content_repeat_top_question .two{
    width: 32px;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    text-align: center;
    background-color: #C477D5;
    display: block;
    font-size: 14px;
    color: #FFF;
    margin-left: 10px;
}
.student_paper_content_repeat_top_question .three{
    margin-left: 15px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
.student_paper_content_repeat_top_question .three img{
    max-width: 300px;
}
.student_paper_content_repeat_top_question .four{
    margin-left: 15px;
    font-size: 14px;
    color: rgb(102, 102, 102);
    float: right;
}
.student_paper_content_repeat_cen{
    width: 800px;
    min-height: 160px;
    margin: 0 auto;
}
.student_paper_content_repeat_5 .student_paper_content_repeat_cen{
    width: 800px;
    min-height: 70px;
    margin: 0 auto;
}
.student_paper_content_repeat_cen_answer{
    width: 800px;
    min-height: 40px;
    line-height: 40px;
}
.student_paper_content_repeat_cen_answer div{
    float: left;
}
.student_paper_content_repeat_cen_answer div img{
    max-width: 300px;
}
.student_paper_content_repeat_cen_answer .one{
    width: 16px;
    height: 16px;
    margin-top: 12px;
    margin-left: 27px;
}
.student_paper_content_repeat_cen_answer .two{
    margin-left: 20px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
.has_choose{
    background: url("/home/image/evaluateManageTea/haschoose.png") no-repeat;
}
.no_choose{
    background: url("/home/image/evaluateManageTea/nochoose.png") no-repeat;
}
.student_paper_content_repeat_1 .student_paper_content_repeat_bot,
.student_paper_content_repeat_2 .student_paper_content_repeat_bot{
    width: 800px;
    height: 40px;
    background-color: #F5F5F5;
}
.student_paper_content_repeat_3 .student_paper_content_repeat_bot{
    width: 800px;
    height: 40px;
    background-color: #F5F5F5;
    margin-top: 20px;
}
.student_paper_content_repeat_5 .student_paper_content_repeat_bot{
    width: 800px;
    height: 40px;
    background-color: #F5F5F5;
    margin-top: 20px;
}
.right_color{
    color: rgb(97, 214, 97);
}
.false_color{
    color: #FF7676;
}
.student_paper_content_repeat_bot_left{
    width: 270px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    float: left;
    margin-left:30px;
}
.student_paper_content_repeat_bot_right{
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    float: right;
}
/* ========= 解答题 ========= */
.student_paper_content_repeat_4 .student_paper_content_repeat_cen{
    width: 800px;
    min-height: 150px;
}
.student_paper_content_repeat_4 .student_paper_content_repeat_cen div:first-child{
    border-top: none;
    word-wrap: break-word;
}
.student_paper_content_repeat_4 .student_paper_content_repeat_cen_answer{
    width: 800px;
    min-height: 140px;
    border-top: 2px dashed #cfcfcf;
}
.student_paper_content_repeat_4 .student_paper_content_repeat_cen_answer_top{
    width: 770px;
    color: rgb(102, 102, 102);
    margin-left: 30px;
}
.student_paper_content_repeat_4 .student_paper_content_repeat_cen_answer_cen{
    width: 750px;
    color: rgb(102, 102, 102);
    margin-left: 50px;
}
.student_paper_content_repeat_4 .student_paper_content_repeat_cen_answer_cen img{
    max-width: 300px;
}
.student_paper_content_repeat_4 .student_paper_content_repeat_cen_answer_bot{
    width: 770px;
    padding-left: 30px;
    background-color: #F5F5F5;
}
.student_paper_content_repeat_4 .student_paper_content_repeat_cen_answer_bot img{
    max-width: 300px;
}
.question_detail_score{
    width: 660px;
    height: 110px;
    margin: 10px auto;
}
.question_detail_score_top{
    width: 660px;
    height: 55px;
    line-height: 55px;
    font-size: 12px;
    color: rgb(102, 102, 102);
}
.question_detail_score_top input{
    width: 88px;
    height: 28px;
}
.question_detail_score_bot{
    width: 560px;
    height: 55px;
    line-height: 55px;
    float: left;
    font-size: 12px;
    color: rgb(102, 102, 102);
}
.question_detail_score_bot span{
    display: block;
    float: left;
}
.question_detail_score_bot .hah{
    width: 370px;
    float: left;
    border: 1px solid rgb(153, 153, 153);
    height: 50px;
}
.question_detail_score_bot .hah textarea{
    width: 365px;
    height: 30px;
    float: left;
    resize: none;
    border: 0;
}
.question_detail_score_bot .hah div{
    width: 365px;
    height: 15px;
    line-height: 15px;
    float: left;
    text-align: right;
}
.question_detail_score_submit{
    width: 50px;
    height: 24px;
    color: #FFF;
    font-size: 12px;
    background-color: #209EEA;
    text-align: center;
    line-height: 24px;
    margin: 0 auto;
    cursor: pointer;
}

/*          imgZoom            */
.imgZoom {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
}

.imgZoom img {
    max-height: 95%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.imgZoom_close {
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    color: white;
    font-size: 30px;
    border: 3px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 100012
}

.imgZoom_close:hover {
    border-color: #B9E3FA;
    color: #B9E3FA;
}
/*      loading      */

.spinner {
    margin: 200px auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 12px;
}

.spinner > div {
    background-color: #2CAEFC;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}